<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <hooks>
        <hook id="hookcookiescss.hook.front" class="HookCookies\Hook\FrontHookCookies" scope="request">
            <tag name="hook.event_listener" event="main.stylesheet" type="front" method="addCookiesCSS" />
        </hook>
        <hook id="hookcookies.hook.front" class="HookCookies\Hook\FrontHookCookies" scope="request">
            <tag name="hook.event_listener" event="main.body-bottom" type="front" method="addCookies" />
        </hook>
    </hooks>

</config>
